<div>
  <% if @note %>
    <p>Are you sure you want to delete the following note: <br>
    <em>"<%= @note.content %>"</em>?</p>
    <form action="/notes/<%= @note.id %>" method="POST" id="delete-note">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="DELETE">
      <a href="/notes/<%= @note.id %>">Cancel</a>
    </form>
  <% else %>
    <p>Note not found.</p>
  <% end %>
</div>