<div id="note-show">
<table>
  <tr><%= @note.content %></tr>
  <tr>
    <td><a href="/notes/<%= @note.id %>/edit">Edit</a></td>
    <td><a href="">Delete</a></td>
    <td><a href="/notes/all">All Notes</a></td>
  </tr>
</table>

</div>