<% if !current_user %>
  <div class="row">
    <ul class="inline-list no-bullet">
      <li class="large-4 columns"><a href="">Learn How it Works</a></li>
     <li class="large-4 columns"><a href="/signup">Create An Account</a></li>
    </ul>
  </div>
<% end %>

  <div class ="row">
    <form action="/notes" method="POST" id="new-note">
      <br>
      <h2 class="text-center">SIMPLE NOTE KEEPER</h2>
      <textarea type="text" name="content"></textarea>
      <% if current_user %>
        <input type="hidden" name="note[user_id]" value="<%= current_user.id %>">
      <% end %>
      <input type="submit" value="Note It">
    </form>
  </div>
  <br>
  <% if current_user %>
    <%= erb :'notes/index' %>
  <% end %>
